/*=============== FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  --color1: #7380ec;
  --color2: #ff7782;
  --color3: #41f1b6;
  --color4: #7d8da1;
  --color5: #ffbb55;
  --color6: #dce1eb;
  --color7: rgb(0, 0, 0);
  --color8: rgb(255, 255, 255);
  --color9: rgba(115, 128, 236, 0.25);
  --color10: rgb(155, 154, 154);
}

.dark-theme {
  --color1: #7380ec;
  --color2: #ff7782;
  --color3: #41f1b6;
  --color4: #7d8da1;
  --color5: #ffbb55;
  --color6: #19191F;
  --color7: #DDDDE6;
  --color8: #212429;
  --color9: rgb(0, 0, 0);
  --color10: rgb(0, 0, 0);
}
.light-theme {
  --color1: #7380ec;
  --color2: #ff7782;
  --color3: #41f1b6;
  --color4: #7d8da1;
  --color5: #ffbb55;
  --color6: #dce1eb;
  --color7: rgb(0, 0, 0);
  --color8: rgb(255, 255, 255);
  --color9: rgba(115, 128, 236, 0.25);
  --color10: rgb(155, 154, 154);
}

/*=============== BASE ===============*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  appearance: none;
  border: 0;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

*::selection {
  background-color: var(--color2);
}

body {
  font-family: poppins, sans-serif;
  font-size: 1rem;
  color: var(--color7);
  background-color: var(--color6);
}

/*=============== HEADER ===============*/
/*=============== TOP HEADER ===============*/
.top-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin-left: 2vw;
  margin-right: 2vw;
  margin-top: 20px;
}

#top-header_logo {
  height: 50px;
  width: 50px;
}

.top-header_profil {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 275px;
}

#top-header_profil-img {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  margin-left: 10px;
}

.top-header_profil-user {
  display: flex;
  flex-direction: row;
  text-align: center;
  justify-content: space-between;
}

p {
  color: var(--color4);
  text-align: left;
  font-size: 0.8rem;
  margin-left: 10px;
}

strong {
  color: var(--color7);
}

.top-header_profil-lightDarkMode {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

#icon-light {
  width: 50px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color7);
}

#icon-dark {
  width: 50px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color7);
}

.active {
  background-color: var(--color1);
  border-radius: 10px;
}

#icon-menu {
  display: none;
}

#icon-close {
  display: none;
}

/*=============== NAV ===============*/
.navigation {
  margin-top: 25px;
  width: 20vh;
  margin-left: 2vw;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

li {
  width: 100%;
  position: relative;
}

a {
  display: flex;
  height: 50px;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding-left: 10%;
  color: var(--color4);
}

a:hover {
  transform: translateX(15px);
  transition: 0.5s;
}

h1 {
  font-weight: 400;
  padding-left: 15px;
}

.activeNav {
  color: var(--color1);
  background-color: var(--color9);
}
.activeNav:hover {
  transform: translateX(0px);
}

.activeNav::before {
  content: "";
  height: 100%;
  width: 5px;
  background-color: var(--color1);
  position: absolute;
  left: 0;
}

.sous-menu {
  display: none;
}

/*=============== MAIN ===============*/
main {
  position: absolute;
  top: 80px;
  left: 25vh;
  height: 80vh;
  width: auto;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  margin-right: 3vw;
  row-gap: 20px;
  column-gap: 20px;
}

h2 {
  font-weight: 800;
  font-size: 1.8rem;
  grid-column: 4;
  grid-row: 1 / 3;
  position: relative;
}

#date {
  width: 150px;
  height: 40px;
  border-radius: 10px;
  background-color: var(--color9);
  text-align: center;
  color: var(--color4);
}

.dashboard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  align-self: flex-start;
  height: 90%;
}

.dashboard_3containers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.dashboard_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color8);
  width: 32%;
  height: 20vh;
  border-radius: 10px;
  filter: drop-shadow(20px 20px 20px var(--color10));
}

.dashboard_sous-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  height: 90%;
}

.conteneur-graph-sales {
  width: 80px;
  height: 80px;
}

.background-icon-purple {
  background-color: var(--color1);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.background-icon-red {
  background-color: var(--color2);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
}
.background-icon-green {
  background-color: var(--color3);
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;

}
#dashboard-icon {
  color: var(--color8);
  border-radius: 30px;
  font-size: 25px;
}

h3 {
  font-size: 0.9rem;
  font-weight: 700;
}
h4 {
  font-size: 1.2rem;
  font-weight: 800;
}
h5 {
  font-size: 0.6rem;
  font-weight: 300;
}

/*=============== RECENT UPDATES ===============*/
.updates {
  grid-column: 2;
  grid-row: 1;
  align-self: flex-start;
  height: 80%;
}

h6 {
  font-size: 1.1rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.updates_container {
  background-color: var(--color8);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  width: 100%;
  height: 80%;
  border-radius: 10px;
  filter: drop-shadow(20px 20px 20px var(--color10));
}

.updates_sous-containers {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: 10px;
  margin-right: 10px;
}

#updates-img {
  width: 35px;
  height: 35px;
  border-radius: 50px;
}

.updates_time {
  font-size: 0.6rem;
}

/*=============== RECENT ORDERS ===============*/
.orders_container {
  background-color: var(--color8);
  width: 100%;
  height: auto;
  border-radius: 10px;
  filter: drop-shadow(20px 20px 20px var(--color10));
}

table {
  text-align: center;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

th {
  font-size: 0.9rem;
  font-weight: 700;
  padding-top: 5px;
  padding-bottom: 5px;
}

td {
  font-size: 0.7rem;
  font-weight: 300;
  line-height: 20px;
  border-bottom: solid 0.5px var(--color4);
  color: var(--color4);
  line-height: 35px;
}

#pending {
  color: var(--color5);
}
#declined {
  color: var(--color2);
}
#delivered {
  color: var(--color1);
}
#details {
  color: var(--color1);
  cursor: pointer;
}

/*=============== SALES ANALYTICS ===============*/
.analytics {
  grid-row: 2;
  grid-column: 2;
  height: 90%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}

.analytics_container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background-color: var(--color8);
  height: 20%;
  width: 100%;
  border-radius: 20px;
  filter: drop-shadow(10px 10px 10px var(--color10));
}

#positive-pourcentage {
  color: var(--color3);
  font-size: 0.8rem;
  font-weight: 700;
}
#negative-pourcentage {
  color: var(--color2);
  font-size: 0.8rem;
  font-weight: 700;
}

.analytics_addProduct {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 20%;
  width: 100%;
  border-radius: 20px;
  border: #7380ec dashed 2px;
  cursor: pointer;
}

.analytics_addProduct:hover {
  background-color: rgba(255, 255, 255, 0.25);
  transition: 0.5s;
}

#icon-plus {
  color: var(--color1);
  padding-right: 10px;
}

#addProduct {
  font-size: 0.9rem;
  color: var(--color1);
  font-weight: 600;
}

/*=============== FOOTER ===============*/
footer {
  position: absolute;
  bottom: 15px;
  left: 4vw;
  width: 50%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#span_footer {
  font-size: 0.9rem;
  font-weight: 400;
  color: var(--color4);
  cursor: pointer;
}

#logout {
  color: var(--color4);
}

.footer_logout {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

/*=============== RESPONSIVE ===============*/
@media (min-width: 1441px) {
}
@media (min-width: 1024px) and (max-width: 1440px) {
  h1 {
    font-size: 0.9rem;
  }
  .conteneur-graph-sales {
    width: 60px;
    height: 60px;
  }
  p {
    font-size: 0.7rem;
  }
  main {
    row-gap: 10px;
    column-gap: 10px;
    margin-right: 3vw;
  }
  h3 {
    font-size: 0.7rem;
  }
  .analytics_container {
    padding-left: 5px;
    padding-right: 5px;
  }
  td {
    line-height: 25px;
  }
}
@media (min-width: 768px) and (max-width: 1023px) {
  h1 {
    display: none;
  }
  nav {
    width: 5vh;
  }
  a {
    justify-content: flex-start;
    padding-left: 25%;
  }
  .conteneur-graph-sales {
    width: 60px;
    height: 60px;
  }
  p {
    font-size: 0.7rem;
  }
  main {
    row-gap: 10px;
    column-gap: 10px;
    width: 85%;
    left: 8vh;
    height: auto;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-right: 3vw;
  }
  .dashboard {
    grid-column: 1;
    grid-row: 1 / 3;
    justify-content: space-between;
    height: 100%;
  }
  .updates {
    grid-column: 2;
    grid-row: 1;
  }
  .analytics {
    grid-column: 2;
    grid-row: 2;
  }
  .orders {
    grid-column: 1 / 3;
    grid-row: 3;
  }
  h3 {
    font-size: 0.7rem;
  }
  .analytics_container {
    padding-left: 5px;
    padding-right: 5px;
  }
  td {
    line-height: 25px;
  }

  #span_footer {
    visibility: hidden;
  }
  .dashboard_3containers {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 80%;

  }
  .dashboard_container {
    width: 90%;
    height: 13vh;
  }
  .analytics {
    height: 100%;
  }
}

@media (min-width: 425px) and (max-width: 767px) {
  #top-header_logo {
    display: none;
  }
  #icon-menu {
    display: block;
    font-size: 2rem;
  }
  #compte-user {
    display: none;
  } 
  .top-header {
    background-color: var(--color8);
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    width: 104%;
    height: 7vh;
    justify-content: space-around;
  }
  .top-header_profil-lightDarkMode {
    margin-left: 50%;
  }

  nav {
    width: 75vw;
    background-color: var(--color8);
    display: none;
  }
  ul {
    display: none;
  }
  a {
    justify-content: flex-start;
    width: 85%;
  }
  main {
    width: 100%;
    left: 3vw;
    margin-left: 3vw;
    margin-right: 3vw;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    row-gap: 10px;
    column-gap: 10px;
    height: auto;
  }
  .conteneur-graph-sales {
    width: 60px;
    height: 60px;
  }
  p {
    font-size: 0.7rem;
  }
  .dashboard {
    grid-column: 1;
    grid-row: 1;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;
  }
  .updates {
    grid-column: 1;
    grid-row: 2;
    height: 100%;
    width: 100%;
  }
  .analytics {
    grid-column: 1;
    grid-row: 3;
    height: 100%;
    width: 100%;
  }
  .orders {
    grid-column: 1;
    grid-row: 4;
    height: 100%;
    width: 100%;
  }
  h3 {
    font-size: 0.7rem;
  }
  .analytics_container {
    padding-left: 5px;
    padding-right: 5px;
  }
  td {
    line-height: 25px;
  }
  .dashboard_3containers {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 80%;
    width: 75%;
  }
  .dashboard_container {
    width: 100%;
    align-items: center;
    height: 13vh;
  }
}
@media (min-width: 375px) and (max-width: 424px) {
}
@media (max-width: 374px) {
}
